html{
    margin: 10rem;
}

header{
    background-color: #4047F0 ;
    border-radius: 0.4rem 0.4rem 0 0;
    padding: 0.4rem;
    color: white;
}

/* The id_generated portion design */

input{
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    border: 0.01rem solid rgb(207,201,201);
    border-radius: 0.2rem;
    padding:0.3rem;
}

.id_generator{
    border-right: 0.01rem solid rgb(207, 201, 201);
    padding: 1rem;
}


.id_card_generator{
    display: flex;
    border: 0.01em solid rgb(201, 195, 195);
    border-radius: 0 0 0.4rem 0.4rem;
}

.id_card_generator>*{
    flex-basis: 100%;
}
#information_form{
    display: flex;
    flex-direction: column;
}

.generate_button{
    border-radius: 0.2rem;
    border: 1px solid rgba(207,201,201);
    padding:0.4rem;
    background-color:#4047F0 ;
    color: white;
}

/* displaying image below upload */

#display_image{
    display: none;
    width:15rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
}




/* CSS for generated id card that is having visibility hidden */

#generated_details{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

#image{
    width:80%;
    border-radius: 30rem;
}


#id_card{
    
    display: flex;
    width:22rem;
    height:11rem;
    border-radius: 0.4rem;
    margin-top:1.2rem;
    border:0.6px solid rgb(192, 186, 186);
}

#id_card>#image_section{
    display: flex;
    width:40%;
    height:11rem;
    background:linear-gradient(to top, #4047F0, #8f94fb) ;
    border-radius: 0.4rem 0 0 0.4rem;
    justify-content: center;
    align-items: center;
}

#id_card>#info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem ;  
    width:70%;
    align-items: left;
    justify-content: center;
    margin-left:1rem;
}

.g_element{
    color: grey;
}